header{
  background-color: #114B5F;
  padding: 30px 30px 30px 30px;
}

header h1{
  margin: 0;
  display: block;
  text-align: center;
}


/*Global*/
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    background-image: url("FTP1.png");
    background-color: #cccccc;
    background-size: cover;
}

/*Func*/

.multi-level, .item ul, .nav input[type="checkbox"] {
    display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ ul {
    display: block;
}

/*Styles*/

label:hover {
    cursor: pointer;
}

label {
    width: 100%;
    display: block;
    z-index: 0;
    position: relative;
    margin: 0;
}
.nav {
    width: 100%;
    background-color: #00171F;
    overflow-x: hidden;
    border-bottom: 0px solid #CFD8DC;
    margin: 0;
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    color: white;
    background-color: #820263;
}

.nav ul, label {
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 100;
    width: 100%;
}
.item ul {
    padding: 0 0 0 15px;
}
.nav li a {
    line-height: 50px;
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 100;
    width: 100%;
}






footer{
  background-color: black;
  color: white;
  clear: both;
  margin: 0;
  padding: 30px 0px 30px 15px;

}
